.header {
  margin-bottom: 2.3rem;
  width: inherit;
}

.children {
  width: inherit;
  display: inherit;
  gap: 1.5rem;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
}
