.header {
    margin-bottom: 23px;
    width: inherit;
}

.children {
    width: inherit;
    display: inherit;
    gap: 15px;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
}