

.auth {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100rem;
    height: 65rem;
    background-color: #ffffff;
    border-radius: 15px;
}