.container {
  background-color: white;
  border-radius: 15px;
  max-width: 70%;
  margin: auto;
  margin-top: 200px;
  padding: 30px 30px;

  h3 {
    cursor: pointer;
  }

  svg {
    margin-left: 5px;
    width: 24px;
    height: 24px;
  }

  .invalid {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
  }
}
