// MAIN FORM

$main-width: 1000px;
$main-height: 650px;

// BACKGROUND

$background-white: #ffffff;
$background-purple: rgba(#9F00EA, .4);
$background-blue: #93B1FF;

// BUTTONS

$button-border-radius: 20px;

$primary: #525EC7;
$primary-text: #ffffff;
$info: rgba(0, 117, 255, .2);
$info-text: #0059AB;
$danger: rgba(200, 21, 32, .3);
$danger-text: #C80024;
$shuffle: rgba(203, 145, 214, .2);
$shuffle-text: #A971B7;
$common: #ffffff;
$common-text: #000000;

// FORMS

$form-background: #F4F4F4;
$form-text: rgba(0, 0, 0, .5);
$form-border-radius: 15px;
$form-focus-border-color: rgba(0, 0, 0, .4);
$form-hover-border-color: rgba(0, 0, 0, .1);

// TEXT

$header: rgba(0, 0, 0, .7);
$description: rgba(0, 0, 0, .5);

// OTHERS

$white: #ffffff;
$black: #000000;

// --------------------------- SHAPES ---------------------------

$border-radius: 15px;
$scroll-color: #D9D9D9;
$scroll-radius: 100px;