// MAIN FORM

$main-width: 100rem;
$main-height: 65rem;

// BACKGROUND

$background-white: #ffffff;
$background-purple: rgba(#9f00ea, 0.4);
$background-blue: #93b1ff;

// BUTTONS

$button-border-radius: 20px;

$primary: #525ec7;
$primary-text: #ffffff;
$info: rgba(0, 117, 255, 0.2);
$info-text: #0059ab;
$danger: rgba(200, 21, 32, 0.3);
$danger-text: #c80024;
$shuffle: rgba(203, 145, 214, 0.2);
$shuffle-text: #a971b7;
$common: #ffffff;
$common-text: #000000;

// FORMS

$form-background: #f4f4f4;
$form-text: rgba(0, 0, 0, 0.5);
$form-border-radius: 15px;
$form-focus-border-color: rgba(0, 0, 0, 0.4);
$form-hover-border-color: rgba(0, 0, 0, 0.1);

// TEXT

$header: rgba(0, 0, 0, 0.7);
$description: rgba(0, 0, 0, 0.5);

// OTHERS

$white: #ffffff;
$black: #000000;

// --------------------------- SHAPES ---------------------------

$border-radius: 15px;
$scroll-color: #d9d9d9;
$scroll-radius: 100px;
