@import "libs/normalize";
@import "variables";
@import "./components/all";

/* APP */

.mb-15 {
  margin-bottom: 1.5rem !important;
}

.mb-23 {
  margin-bottom: 2.3rem !important;
}

.mb-40 {
  margin-bottom: 4rem !important;
}

.mb-100 {
  margin-bottom: 10rem !important;
}

.mt-10 {
  margin-top: 1rem !important;
}

.mr-70 {
  margin-right: 7rem;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
