.auth {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100rem;
  height: 65rem;
  background-color: #ffffff;
  border-radius: 15px;
}

.form {
  width: 100%;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #525ec7;
  color: #ffffff;
}
