@import "shared/ui/adaptive";

.auth {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100rem;
  height: 65rem;
  background-color: #ffffff;
  border-radius: 15px;
}
.input {
  margin-bottom: 0;
}

.title {
  margin-bottom: 2rem;
}

.form {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 2rem;
}

@include screen-s {
  .auth {
    width: 100%;
    height: 100%;
    border-radius: 0;

    .title {
      margin-bottom: get-mobile-unit(20);
      font-size: get-mobile-unit(33);
    }

    .input {
      font-size: get-mobile-unit(20);
      padding: get-mobile-unit(10) get-mobile-unit(15);
      margin-bottom: get-mobile-unit(20);
      border-radius: get-mobile-unit(20);
    }

    .backButton {
      width: get-mobile-unit(15);
      height: get-mobile-unit(15);
      top: get-mobile-unit(15);
      left: get-mobile-unit(15);
      border-radius: get-mobile-unit(5);
    }
  }
}

@include screen-m {
  .auth {
    width: 100%;
    height: 100%;
    border-radius: 0;

    .title {
      margin-bottom: get-mobile-unit(20);
      font-size: get-mobile-unit(40);
    }

    .input {
      font-size: get-mobile-unit(20);
      padding: get-mobile-unit(10) get-mobile-unit(15);
      margin-bottom: get-mobile-unit(20);
      border-radius: get-mobile-unit(20);
    }

    .backButton {
      width: get-mobile-unit(15);
      height: get-mobile-unit(15);
      top: get-mobile-unit(15);
      left: get-mobile-unit(15);
      border-radius: get-mobile-unit(5);
    }
  }
}
