@import "shared/ui/adaptive";

.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .header {
    margin-bottom: 10rem;
  }

  .button {
    padding: 2rem 7rem;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .help {
    font-size: 2rem;
  }
}

@include screen-m {
  .root {
    .header {
      font-size: get-mobile-unit(40);
      margin-bottom: get-mobile-unit(30);
    }

    .button {
      padding: get-mobile-unit(15) get-mobile-unit(40);
      font-size: get-mobile-unit(20);
      border-radius: get-mobile-unit(14);
      margin-top: get-mobile-unit(10);
      margin-bottom: get-mobile-unit(20);
    }

    .help {
      font-size: get-mobile-unit(15);
    }
  }
}

@include screen-s {
  .root {
    .header {
      font-size: get-mobile-unit(30);
      margin-bottom: get-mobile-unit(30);
    }

    .button {
      padding: get-mobile-unit(15) get-mobile-unit(40);
      font-size: get-mobile-unit(17);
      border-radius: get-mobile-unit(13);
      margin-top: get-mobile-unit(100);
      margin-bottom: get-mobile-unit(20);
    }

    .help {
      font-size: get-mobile-unit(15);
    }
  }
}
