@import "shared/ui/adaptive";

.header {
  font-size: 3.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.style_bold {
  font-size: 5rem;
  font-weight: 600;
}

.style_code {
  position: absolute;
  top: 5rem;
  font-size: 3.5rem;
  font-weight: 800;
}

.style_italic {
  font-style: italic;
}

@include screen-s {
  .header {
    font-size: get-mobile-unit(40);
  }
}
