@import "shared/ui/adaptive";

.backButton {
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: 2rem;
  height: 2rem;
  transform: rotate(-45deg);
  border-top: 6px solid rgba(0, 0, 0, 0.7);
  border-left: 6px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    border-color: #000000;
  }
}

@include screen-m {
  .backButton {
    margin-top: get-mobile-unit(13);
    margin-left: get-mobile-unit(13);
    width: get-mobile-unit(13);
    height: get-mobile-unit(13);
    border-top: get-mobile-unit(5) solid rgba(0, 0, 0, 0.7);
    border-left: get-mobile-unit(5) solid rgba(0, 0, 0, 0.7);
  }
}

@include screen-s {
  .backButton {
    margin-top: get-mobile-unit(20);
    margin-left: get-mobile-unit(13);
    width: get-mobile-unit(13);
    height: get-mobile-unit(13);
    border-top: get-mobile-unit(5) solid rgba(0, 0, 0, 0.7);
    border-left: get-mobile-unit(5) solid rgba(0, 0, 0, 0.7);
  }
}
