@import "../../../scss/variables";

.backButton {
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: 2rem;
  height: 2rem;
  transform: rotate(-45deg);
  border-top: 6px solid $header;
  border-left: 6px solid $header;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    border-top: 6px solid $black;
    border-left: 6px solid $black;
  }
}
