@import "shared/ui/adaptive";

.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .header {
    font-size: 4.5rem;
    margin-bottom: 2.4rem;
  }

  .input {
    margin-bottom: 1.4rem;
  }

  .button {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .help {
    font-size: 1.5rem;
  }
}

@include screen-m {
  .root {
    .header {
      font-size: get-mobile-unit(60);
      margin-bottom: get-mobile-unit(30);
    }

    .input {
      font-size: get-mobile-unit(20);
      padding: get-mobile-unit(10) get-mobile-unit(15);
      margin-bottom: get-mobile-unit(15);
      border-radius: get-mobile-unit(20);
    }

    .button {
      margin-top: get-mobile-unit(10);
      margin-bottom: get-mobile-unit(10);
    }

    .help {
      font-size: get-mobile-unit(10);
    }
  }
}

@include screen-s {
  .root {
    .header {
      font-size: get-mobile-unit(60);
      margin-bottom: get-mobile-unit(30);
    }

    .input {
      font-size: get-mobile-unit(20);
      padding: get-mobile-unit(10) get-mobile-unit(15);
      margin-bottom: get-mobile-unit(15);
      border-radius: get-mobile-unit(20);
    }

    .button {
      margin-top: get-mobile-unit(10);
      margin-bottom: get-mobile-unit(30);
    }

    .help {
      font-size: get-mobile-unit(15);
    }
  }
}
