

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 5rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 5.2rem;
  }
}

.buttonBlock {
  display: flex;
  flex-flow: row nowrap;
}
