@import "shared/ui/adaptive";

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: get-mobile-unit(30);
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 5.2rem;
}

.buttonBlock {
  display: flex;
  flex-flow: row nowrap;
}

.exitBtn {
  position: absolute;
  font-size: get-mobile-unit(6) !important;
  bottom: get-mobile-unit(10);
}


@include screen-s {
  .home {
    justify-content: space-between;
  }

  .title {
    font-size: get-mobile-unit(30);
    // line-height: get-mobile-unit(50);
    // text-align: center;
    margin-bottom: get-mobile-unit(40);
  }

  .exitBtn {
    font-size: get-mobile-unit(10) !important;
  }
}

@include screen-m {
  .title {
    // text-align: center;
    font-size: get-mobile-unit(50);
  }

  .exitBtn {
    font-size: get-mobile-unit(10) !important;
  }
}
