@import "shared/ui/adaptive";

.inputField {
  position: relative;
  padding: 1rem 1.5rem;
  font-size: 2.2rem;
  line-height: 1;
  color: rgba(0, 0, 0, 0.7);
  background-color: #f4f4f4;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  text-align: center;

  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }

  &:hover {
    outline: 1px solid rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: 2px solid rgba(0, 0, 0, 0.4);
  }

  &:not(:focus):not(:placeholder-shown):invalid {
    outline: 1px solid #b01515;
    background-image: url("../../../../public/img/warning_icon.svg");
    background-repeat: no-repeat;
    background-size: 2.2rem 2.2rem;
    background-position: right 10px bottom 50%;

    &::placeholder {
      color: rgba($color: #b01515, $alpha: 1);
    }

    &:hover {
      outline: 1px solid #b01515;
    }

    &:focus {
      outline: 2px solid #b01515;
    }

    &[type="date"]::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
    }

    &[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
  }
}

.warning {
  outline: 1px solid #b01515;
  background-image: url("../../../../public/img/warning_icon.svg");
  background-repeat: no-repeat;
  background-size: 2.2rem 2.2rem;
  background-position: right 1rem bottom 50%;

  &:hover {
    outline: 1px solid #b01515;
  }

  &:focus {
    outline: 2px solid #b01515;
  }

  &[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }

  &[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

@include screen-s {
  .inputField {
    font-size: get-mobile-unit(15);
    border-radius: get-mobile-unit(15);
  }
  .warning {
    background-size: 6rem 6rem;
    background-position: right 4rem bottom 50%;
  }

}
