@import "../../../scss/variables";

.button {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 1rem 4.5rem;
  background: $common;
  color: $common-text;
  border: none;
  border-radius: $button-border-radius;
  box-shadow: none;
  cursor: pointer;
}

.style_primary {
  background-color: $primary !important;
  color: $primary-text !important;
}

.style_info {
  padding: 1.2rem 2rem;
  font-size: 2.4rem;
  background-color: $info !important;
  color: $info-text !important;
}

.style_danger {
  background-color: $danger !important;
  color: $danger-text !important;
}

.style_shuffle {
  padding: 1.2rem 2.5rem;
  font-size: 2.4rem;
  background-color: $shuffle !important;
  color: $shuffle-text !important;
}
