

body {
  background: linear-gradient(-45deg, #ffffff, rgba(#9f00ea, 0.4), #93b1ff);
  background-size: 400% 400%;
  overflow: hidden;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}