@import "shared/ui/adaptive";

.lobby {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100rem;
  height: 65rem;
  background-color: #ffffff;
  border-radius: 15px;

  &__header {
    margin-bottom: 2.3rem;

    &-bold {
      margin-bottom: 10rem;
      margin-top: 4rem;
    }
  }

  &__wait-header {
    margin-bottom: 12rem;
  }
}

@include screen-m {
  .lobby {
    width: 100%;
    height: 100%;
  }
}

@include screen-s {
  .lobby {
    width: 100%;
    height: 100%;
  }
}
