.container {
  background-color: white;
  border-radius: 15px;
  max-width: 70%;
  margin: auto;
  margin-top: 200px;
  padding: 30px 30px;
  height: 60vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;

  svg {
    margin-left: 5px;
    width: 24px;
    height: 24px;
  }

  h2,
  h4 {
    text-align: center;
  }
}
