

.textareaField {
  position: relative;
  padding: 2rem;
  height: 5rem;
  width: 30rem;
  font-size: 2.2rem;
  line-height: 1;
  color: rgba(0, 0, 0, 0.7);
  background-color: #f4f4f4;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  resize: none;

  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }

  &:hover {
    outline: 1px solid rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: 2px solid rgba(0, 0, 0, 0.4);
  }

  &::-webkit-scrollbar {
    width: 1.5rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100px;
    padding-right: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: padding-box;
    background-color: #d9d9d9;
    border-radius: 100px;
  }
}

.style_warning {
  outline: 2px solid #b01515;

  &:hover {
    outline: 1px solid #b01515;
  }

  &:focus {
    outline: 2px solid #b01515;
  }
}
