@import '../../../scss/variables';

.textareaField {
    position: relative;
    padding: 20px;
    height: 50px;
    width: 300px;
    font-size: 22px;
    line-height: 1;
    color: $header;
    background-color: $form-background;
    border: none;
    border-radius: $form-border-radius;
    cursor: pointer;
    resize: none;

    &::placeholder {
        color: $form-text;
    }

    &:hover {
        outline: 1px solid $form-hover-border-color;
    }

    &:focus {
        outline: 2px solid $form-focus-border-color;
    }

    &::-webkit-scrollbar {
        width: 15px;
    }

    &::-webkit-scrollbar-track {
        border-radius: $scroll-radius;
        padding-right: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border: 4px solid transparent;
        background-clip: padding-box;
        background-color: $scroll-color;
        border-radius: $scroll-radius;
    }
}

.style_warning {
    outline: 2px solid #B01515;

    &:hover {
        outline: 1px solid #B01515;
    }

    &:focus {
        outline: 2px solid #B01515;
    }

    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: 30px;
    //     height: 30px;
    //     left: -50px;
    //     background-color: green;
    //     background-image: url('../../../../public/img/warning-sign.svg');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
}